<!DOCTYPE html>
<html lang="es">

<head>
    <title>Carta | Restaurante CDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

<body>

    <div class="jumbotron" style="margin-top:-42px;padding-bottom:24px;margin-bottom:24px">
        <ul class="nav nav-pills nav-justified" id="categoryFood" role="tablist" style="margin:16px">
            <li class="nav-item">
                <a class="nav-link active" id="drinks-tab" data-toggle="tab" href="#drinks" role="tab"
                    aria-controls="drinks" aria-selected="true">Bebidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="starters-tab" data-toggle="tab" href="#starters" role="tab"
                    aria-controls="starters" aria-selected="false">Entrantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="meats-tab" data-toggle="tab" href="#meats" role="tab" aria-controls="meats"
                    aria-selected="false">Carnes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="fishes-tab" data-toggle="tab" href="#fishes" role="tab" aria-controls="fishes"
                    aria-selected="false">Pescados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vegetables-tab" data-toggle="tab" href="#vegetables" role="tab"
                    aria-controls="vegetables" aria-selected="false">Vegetales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="vegans-tab" data-toggle="tab" href="#vegans" role="tab" aria-controls="vegans"
                    aria-selected="false">&#9419 Veganos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="desserts-tab" data-toggle="tab" href="#desserts" role="tab"
                    aria-controls="desserts" aria-selected="false">Postres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="coffees-tab" data-toggle="tab" href="#coffees" role="tab"
                    aria-controls="coffees" aria-selected="false">Cafés</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="categoryFoodContent" style="margin:36px">
        <div class="tab-pane fade show active" id="drinks" role="tabpanel" aria-labelledby="drinks-tab">Contenido de
            bebidas</div>
        <div class="tab-pane fade" id="starters" role="tabpanel" aria-labelledby="starters-tab">Contenido de entrantes
        </div>
        <div class="tab-pane fade" id="meats" role="tabpanel" aria-labelledby="meats-tab">Contenido de carnes</div>
        <div class="tab-pane fade" id="fishes" role="tabpanel" aria-labelledby="fishes-tab">Contenido de pescados</div>
        <div class="tab-pane fade" id="vegetables" role="tabpanel" aria-labelledby="vegetables-tab">Contenido de
            vegetales</div>
        <div class="tab-pane fade" id="vegans" role="tabpanel" aria-labelledby="vegans-tab">Contenido de veganos</div>
        <div class="tab-pane fade" id="desserts" role="tabpanel" aria-labelledby="desserts-tab">Contenido de postres
        </div>
        <div class="tab-pane fade" id="coffees" role="tabpanel" aria-labelledby="coffees-tab">Contenido de cafés</div>
    </div>

</body>

</html>