{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col">
                <a href="/index.html" class="mt-auto mb-auto btn btn-lg btn-primary my-2 my-sm-0">
                    <h5>Atrás</h5>
                </a>
            </div>
            <div class="col">
                <p class="display-4">{{ title }}</p>
            </div>
            <div class="col">
                <a class="mx-auto navbar-brand my-2 my-sm-0">
                    <img src="/static/favicon.svg" alt="logo" style="width:64px">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center"><small>Por favor, eliga una mesa con la que desea operar:</small></h2>
    <div class="container" style="margin-top:24px;margin-bottom:24px;">
        <form action="/customer/home.html" method="POST">
            <select class="form-control form-control-lg" name="table-id">
                {% for table_id, table in tables.items() %}
                <option value="{{ table_id }}">Mesa #{{ table_id }}</option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-top:24px">
                <p></p>
                <h3>Seleccionar mesa</h3>
                <p></p>
            </button>
        </form>
    </div>
</div>
{% endblock %}