{% extends "base.html" %}

{% block content %}
<div class="row" style="margin:24px">
    <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
        <a href="/waiter/home.html" class="btn btn-primary btn-lg btn-block" role="button">
            <p class="display-1">Display 1</p>
        </a>
    </div>
    <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
        <a href="/customer/home.html" class="btn btn-primary btn-lg btn-block" role="button">
            <p class="display-1">Display 1</p>
        </a>
    </div>
</div>
{% endblock %}