{% extends "base.html" %}

{% block content %}
<div class="container">
    <p class="text-center">¿Que funcion quieres acceder?</p>
    <div class="row" style="margin-bottom:24px">
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/waiter/products/list.html" class="btn btn-warning btn-lg btn-block" role="button">
                <p></p>
                <h3>Ociones de los Productos</h3>
                <p></p>
            </a>
        </div>
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/waiter/tables/list.html" class="btn btn-primary btn-lg btn-block" role="button">
                <p></p>
                <h3>Ver las Mesas</h3>
                <p></p>
            </a>
        </div>
    </div>
</div>
{% endblock %}