{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" role="navigation" id="main-navbar">
    <div class="container-fluid">
        <a href="/customer/tables/{{ num }}/home.html" class="mt-auto mb-auto btn btn-success my-2 my-sm-0">
            <h5>Atrás</h5>
        </a>
        <p class="display-4">{{ title }}</p>
        <a class="mt-auto navbar-brand my-2 my-sm-0">
            <img src="/static/favicon.svg" alt="logo" style="width:64px">
        </a>
    </div>
</nav>

<div class="container-fluid">
    <div class="m-3 row" style="margin-bottom:24px">
        <div class="col-lg-9">
            <div class="card bg-light" style="height: 100%;">
                <div class="card-header">
                    <h3 class="text-center">ZONAS CALIENTES</h3>
                </div>
                <div class="row no-gutters">
                    <div class="col-lg-6">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/customer/tables/{{ num }}/edit.html" method="POST">
                                        <input type="hidden" name="first_heath_section">
                                        <button type="submit"
                                            class="mx-auto btn btn-{% if tables[num]['first_heath_section'] %}danger{% else %}primary{% endif %} btn-lg btn-block">
                                            <p class="display-1">#1</p>
                                            <p><b>{% if tables[num]['first_heath_section'] %}&#128293; ENCENDIDO
                                                    &#128293;{% else %}&#10052; APAGADO &#10052;{% endif %}</b></p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/customer/tables/{{ num }}/edit.html" method="POST">
                                        <input type="hidden" name="second_heath_section">
                                        <button type="submit"
                                            class="mx-auto btn btn-{% if tables[num]['second_heath_section'] %}danger{% else %}primary{% endif %} btn-lg btn-block">
                                            <p class="display-1">#2</p>
                                            <p><b>{% if tables[num]['second_heath_section'] %}&#128293; ENCENDIDO
                                                    &#128293;{% else %}&#10052; APAGADO &#10052;{% endif %}</b></p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/customer/tables/{{ num }}/edit.html" method="POST">
                                        <input type="hidden" name="third_heath_section">
                                        <button type="submit"
                                            class="mx-auto btn btn-{% if tables[num]['third_heath_section'] %}danger{% else %}primary{% endif %} btn-lg btn-block">
                                            <p class="display-1">#3</p>
                                            <p><b>{% if tables[num]['third_heath_section'] %}&#128293; ENCENDIDO
                                                    &#128293;{% else %}&#10052; APAGADO &#10052;{% endif %}</b></p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card-body">
                            <div class="card">
                                <div class="card-body">
                                    <form action="/customer/tables/{{ num }}/edit.html" method="POST">
                                        <input type="hidden" name="fourth_heath_section">
                                        <button type="submit"
                                            class="mx-auto btn btn-{% if tables[num]['fourth_heath_section'] %}danger{% else %}primary{% endif %} btn-lg btn-block">
                                            <p class="display-1">#4</p>
                                            <p><b>{% if tables[num]['fourth_heath_section'] %}&#128293; ENCENDIDO
                                                    &#128293;{% else %}&#10052; APAGADO &#10052;{% endif %}</b></p>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-light" style="height: 100%;">
                <div class="card-header">
                    <h3 class="text-center">ALTURA MESA</h3>
                </div>
                <div class="card-body">
                    <form action="/customer/tables/{{ num }}/edit.html" method="POST">
                        <input type="hidden" name="height" value="up">
                        <button type="submit" class="mx-auto btn btn-success btn-lg btn-block" style="height: 100%;"
                            {% if tables[num]['relative_height'] == 100 %} disabled{% endif %}>
                            <p class="display-2">&xwedge;</p>
                            <p><b>SUBIR</b></p>
                        </button>
                    </form>
                </div>
                <div class="card-body">
                    <form action="/customer/tables/{{ num }}/edit.html" method="POST">
                        <input type="hidden" name="height" value="down">
                        <button type="submit" class="mx-auto btn btn-success btn-lg btn-block" style="height: 100%;"
                            {% if tables[num]['relative_height'] == 0 %} disabled{% endif %}>
                            <p class="display-2">&xvee;</p>
                            <p><b>BAJAR</b></p>
                        </button>
                    </form>
                </div>
                <div class="card-body">
                    <div class="card" style="height: 100%;">
                        <p></p>
                        <h4 class="m-auto text-center">Altura: {{ tables[num]["relative_height"] }}%</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}