{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col">
                <a href="/customer/home.html" class="mt-auto mb-auto btn btn-lg btn-success my-2 my-sm-0">
                    <p></p>Atrás<p></p>
                </a>
            </div>
            <div class="col">
                <p class="display-4">{{ title }}</p>
            </div>
            <div class="col">
                <a class="mx-auto navbar-brand my-2 my-sm-0">
                    <img src="/static/favicon.svg" alt="logo" style="width:64px">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <a href="/customer/tables/{{ num }}/home.html"
        class="mt-auto mb-4 btn btn-{% if customer %}success{% else %}warning{% endif %} btn-block">Actualizar</a>
</div>

<div class="container">
    <h2 class="text-center"><small>Seleccione la opción que más le interese hacer en este momento:</small></h2>
    <div class="row justify-content-center" style="margin-bottom:36px">
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <button class="btn btn-info btn-lg btn-block" role="button">
                <p></p>
                <h3>Llamar camarero</h3>
                <p></p>
            </button>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:24px">
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/edit.html" class="btn btn-success btn-lg btn-block" role="button">
                <p></p>
                <h3>Manipular mesa</h3>
                <p></p>
            </a>
        </div>
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/info.html" class="btn btn-success btn-lg btn-block" role="button">
                <p></p>
                <h3>Estado mesa</h3>
                <p></p>
            </a>
        </div>
        {% if tables[num]["occupied"] %}
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/orders/{{ latest_order_id }}/summary.html"
                class="btn btn-success btn-lg btn-block" role="button">
                <p></p>
                <h3>Resumen pedido</h3>
                <p></p>
            </a>
        </div>
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/orders/{{ latest_order_id }}/products/list.html"
                class="btn btn-success btn-lg btn-block{% if orders[latest_order_id]['bill_requested'] %} disabled{% endif %}"
                role="button">
                <p></p>
                <h3>Editar pedido</h3>
                <p></p>
            </a>
        </div>
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#finishModal"
                {% if orders[latest_order_id]['bill_requested'] or has_pending_record %} disabled{% endif %}>
                <p></p>
                <h3>Finalizar pedido</h3>
                <p></p>
            </button>
        </div>
        {% else %}
        <div class="col-lg-6" style="margin-top:16px; margin-bottom:16px">
            <form action="/customer/tables/{{ num }}/home.html" method="POST">
                <input type="hidden" name="new-order">
                <button type="submit" class="btn btn-success btn-lg btn-block">
                    <p></p>
                    <h3>Nuevo pedido</h3>
                    <p></p>
                </button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

{% if tables[num]["occupied"] %}
<div class="modal fade" id="finishModal" tabindex="-1" role="dialog" aria-labelledby="finishModalTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <form action="/customer/tables/{{ num }}/home.html" method="POST">
                <div class="modal-header">
                    <h3 class="modal-title" id="finishModalTitle">Finalizar pedido actual</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <h3>&times;</h3>
                        </span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>¿Está usted seguro de que desea finalizar el pedido actual? Al hacerlo, no podrá pedir
                        <b>NINGÚN</b> producto más del restaurante. Además, una vez quede abonado el importe, la mesa
                        quedará marcada como <span class="badge badge-pill badge-success">LIBRE</span>.</p>
                        <b>NOTA</b>: será redirigido a la sección <kbd>Resumen pedido</kbd>, donde podrá ver el resumen
                        del mismo, así como la liquidación de la cuenta. También podrá consultarlo en la sección
                        <kbd>Estado
                            mesa</kbd>.
                    </h5>
                    <p></p>
                    <h5>Seleccione el <mark><b>MÉTODO DE PAGO</b></mark>:</h5>
                    <p></p>
                    <h5>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pay-by-card" id="pay-by-card-1"
                                value="False" style="width: 18px; height: 18px;" checked>
                            <label class="ml-1 form-check-label" for="pay-by-card-1">
                                <h5>&#128182; Efectivo</h5>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="pay-by-card" id="pay-by-card-2"
                                value="True" style="width: 18px; height: 18px;">
                            <label class="ml-1 form-check-label" for="pay-by-card-2">
                                <h5>&#128179; Tarjeta</h5>
                            </label>
                        </div>
                    </h5>
                    <p></p>
                    <h5>Marque la siguiente opción si desea recibir <mark><b>FACTURA</b></mark> del pedido:</h5>
                    <p></p>
                    <h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="invoice" value="True"
                                id="invoiceCheck" style="width: 18px; height: 18px;">
                            <label class="ml-1 form-check-label" for="invoiceCheck">
                                <h5>Sí, deseo recibir factura del pedido</h5>
                            </label>
                        </div>
                    </h5>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-lg" data-dismiss="modal">Continuar pedido</button>
                    <input type="hidden" name="end-order">
                    <input type="hidden" name="pay-by-card">
                    <input type="hidden" name="invoice">
                    <button type="submit" class="btn btn-primary btn-lg">Finalizar pedido</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}