{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col">
                <a href="/customer/home.html" class="mt-auto mb-auto btn btn-lg btn-success my-2 my-sm-0">
                    <p></p>Atrás<p></p>
                </a>
            </div>
            <div class="col">
                <p class="display-4">{{ title }}</p>
            </div>
            <div class="col">
                <a class="mx-auto navbar-brand my-2 my-sm-0">
                    <img src="/static/favicon.svg" alt="logo" style="width:64px">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2 class="text-center"><small>Seleccione la opción que más le interese hacer en este momento:</small></h2>
    <div class="row justify-content-center" style="margin-bottom:36px">
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <button class="btn btn-info btn-lg btn-block" role="button">
                <p></p>
                <h3>Llamar camarero</h3>
                <p></p>
            </button>
        </div>
    </div>
    <div class="row justify-content-center" style="margin-bottom:24px">
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/edit.html" class="btn btn-success btn-lg btn-block" role="button">
                <p></p>
                <h3>Manipular mesa</h3>
                <p></p>
            </a>
        </div>
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/info.html" class="btn btn-success btn-lg btn-block" role="button">
                <p></p>
                <h3>Estado pendientes</h3>
                <p></p>
            </a>
        </div>
        {% if tables[num]["occupied"] %}
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/info.html" class="btn btn-success btn-lg btn-block" role="button">
                <p></p>
                <h3>Resumen pedido</h3>
                <p></p>
            </a>
        </div>
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/products/list.html"
                class="btn btn-success btn-lg btn-block{% if orders[latest_order_id]['bill_requested'] %} disabled{% endif %}"
                role="button">
                <p></p>
                <h3>Editar pedido</h3>
                <p></p>
            </a>
        </div>
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/products/list.html"
                class="btn btn-success btn-lg btn-block{% if orders[latest_order_id]['bill_requested'] %} disabled{% endif %}"
                role="button">
                <p></p>
                <h3>Finalizar pedido</h3>
                <p></p>
            </a>
        </div>
        {% else %}
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/tables/{{ num }}/products/list.html" class="btn btn-success btn-lg btn-block"
                role="button">
                <p></p>
                <h3>Nuevo pedido</h3>
                <p></p>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}