{% extends "base.html" %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation" id="main-navbar">
    <div class="container-fluid">
        <a href="/waiter/home.html" class="mt-auto mb-auto btn btn-warning my-2 my-sm-0">
            <h5>Atrás</h5>
        </a>
        <p class="display-4 text-white">{{ title }}</p>
        <a class="mt-auto navbar-brand my-2 my-sm-0">
            <img src="/static/favicon.svg" alt="logo" style="width:64px">
        </a>
    </div>
</nav>

<div class="container-fluid">
    <a href="/waiter/tables/list.html" class="mt-auto mb-4 btn btn-warning btn-block">Actualizar</a>
</div>

<div class="container-fluid">
    <div class="row">
        {% for table_id, table in tables.items() %}
        <div class="col-lg-6">
            <div class="card" style="margin:8px">
                <div class="d-flex flex-column card-body bg-light text-dark">
                    <h4 class="card-title text-center"><b>Mesa {{ table_id }}</b></h4>
                    <div class="mt-auto d-flex flex-column">
                        {% if table.occupied %}
                        <span class="mt-auto mb-2 badge badge-pill badge-danger">OCUPADA</span>
                        {% else %}
                        <span class="mt-auto mb-2 badge badge-pill badge-success">LIBRE</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom" role="navigation" id="secondary-navbar">
    <div class="container-fluid">
        <ul class="navbar-nav mx-auto flex-row flex-nowrap" style="overflow-x:auto;overflow-y:hidden;flex-wrap:nowrap;">
            {% for table_id, table in tables.items() %}
            <li class="nav-item" style="margin:8px;">
                <a class="mt-auto btn btn-warning my-2 my-sm-0" href="/waiter/tables/{{ table_id }}/info.html">
                    <h5>Mesa {{ table_id }}</h5>
                </a>
            </li>
            {% endfor %}
    </div>
</nav>

{% endblock %}