<!DOCTYPE html>
<html lang="es">

<head>
    <title>{{ title }} | Restaurante CDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% if img_viewer %}
    <link href="/static/styles/img_viewer.css" rel="stylesheet">
    {% endif %}
    <link href="/static/styles/sticky_footer.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        .body {
            font-family: 'Roboto', sans-serif;
        }

        .nav-pills.warning>li>a.active {
            background-color: #ffc107 !important;
            color: #212529 !important;
        }

        .nav-pills.warning>li>a {
            background-color: transparent !important;
            color: #ffc107 !important;
        }
    </style>
</head>

<body>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer text-center {% if customer %}bg-light{% else %}bg-dark text-white{% endif %} py-3"
            id="sticky-footer">© 2019 Copyright - Equipo de desarrollo Restaurante CDI
        </div>
    </footer>

    {% if img_viewer %}
    <div id="imgModal" class="modal" onclick="this.style.display='none'">
        <span class="close">&times;</span>
        <img class="modal-content" id="img01">
        <div id="caption"></div>
    </div>
    <script src="/static/scripts/img_viewer.js"></script>
    {% endif %}

    {% if fixed_navbar %}
    <script src="/static/scripts/fixed_navbar.js"></script>
    {% endif %}

    <script src="/static/scripts/sticky_footer.js"></script>

</body>

</html>