{% extends "base.html" %}

{% block content %}
<div class="jumbotron text-center" style="margin-top:-24px;padding-bottom:24px;margin-bottom:24px">
    <h1 class="display-4">{{ title }}</h1>
    <h2>Restaurante CDI</h2>
    <p>Aplicación de un restaurante para la asignatura de Construcción y Diseño de Interfaces Gráficas de Usuario
    </p>
</div>


<div class="container">
    <p class="text-center">Por favor, eliga el rol a utilizar:</p>
    <div class="row" style="margin-bottom:24px">
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/waiter/home.html" class="btn btn-warning btn-lg btn-block" role="button">
                <p></p>
                <h3>Camarero</h3>
                <p></p>
            </a>
        </div>
        <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
            <a href="/customer/home.html" class="btn btn-primary btn-lg btn-block" role="button">
                <p></p>
                <h3>Cliente</h3>
                <p></p>
            </a>
        </div>
    </div>
</div>
{% endblock %}