<!DOCTYPE html>
<html lang="es">

<head>
    <title>Inicio | Restaurante CDI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>

<body>

    <div class="jumbotron text-center" style="margin-top:-24px;padding-bottom:24px;margin-bottom:24px">
        <h1 class="display-4">Inicio</h1>
        <h2>Restaurante CDI</h2>
        <p>Aplicación de un restaurante para la asignatura de Construcción y Diseño de Interfaces Gráficas de Usuario
        </p>
    </div>


    <div class="container">
        <p class="text-center">Por favor, eliga el rol a utilizar:</p>
        <div class="row" style="margin-bottom:24px">
            <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
                <a href="/waiter/home.html" class="btn btn-primary btn-lg btn-block" role="button">
                    <p></p>Camarero<p></p>
                </a>
            </div>
            <div class="col-sm-6" style="margin-top:16px; margin-bottom:16px">
                <a href="/customer/home.html" class="btn btn-primary btn-lg btn-block" role="button">
                    <p></p>Cliente<p></p>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-copyright text-center py-3">© 2019 Copyright - Equipo de desarrollo Restaurante CDI
        </div>
    </footer>

</body>

</html>